table{
  border-collapse: collapse;	
}

table, th, td {
  border: 2px solid black;
}

tbody > tr > th{
  font-style: italic;
  font-weight: normal;
}

tbody > tr > td:nth-child(2){
  color: red;
}

tbody > tr > td:nth-child(4){
  color: blue;
}

tbody > tr:nth-child(odd){
  background: lightgreen;
}

tbody > tr:nth-child(even){
  background: lightblue;
}

dt:hover + dd{
 background:purple;   
}

div.outer-content{
  margin-top: 20px;	
  position: absolute;
  left: 0px;
  width: 75%;
  height: 40px;
  background: pink;
}	

div.inner-content{
  position: relative;
  margin-left:12.5%;
  margin-right:12.5%;
  top: 25%;
  background: blue;
  text-align: center;
  color: white;
}	
